# 1. Thư mục biên dịch (Tuyệt đối không Push)
build/
dist/

# 2. Cấu hình cá nhân của NetBeans (Tuyệt đối không Push)
nbproject/private/
nbproject/project.xml.bak
nbproject/project.properties.bak

# 3. File log và hệ điều hành
*.log
.DS_Store
Thumbs.db
